<div main-content>
  <h2>Nuevo Jugador</h2>
  <form class="bs-example form-horizontal">
    <fieldset>
      <legend>Datos</legend>
      <div class="form-group" >
        <div class="col-sm-4" ng-class="errorClass('name')" dl-input-text size="sm" id="name" value="player.name" caption="Nombre"></div>
        <div class="col-sm-4" ng-class="errorClass('lastName')" dl-input-text size="sm" id="lastName" value="player.lastName" caption="Apellido"></div>
        <div class="col-sm-4" ng-class="errorClass('alias')" dl-input-text size="sm" id="alias" value="player.alias" caption="Apodo"></div>
      </div>
    </fieldset>    
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-right">
          <a class="btn btn-default" href="javascript:window.history.back()" >Cancelar</a> 
          <button type="submit" class="btn btn-primary" ng-click="save()">Guardar</button> 
        </div>
      </div>
    </div>
  </form>
  <alert ng-repeat="(key,value) in error" type="'danger'">{{value}}</alert>
</div>
<div side-bar>
  <div ng-include="'side/side.html'"></div>
</div>