<div main-content>
  <h2>Nuevo Jugador</h2>
  <form class="bs-example form-horizontal">
    <fieldset>
      <legend>Datos</legend>
      <ng-include src="'player/player-form.html'"></ng-include>
    </fieldset>    
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-right">
          <a class="btn btn-default" href="javascript:window.history.back()" >Cancelar</a> 
          <button type="submit" class="btn btn-primary" ng-click="save()">Guardar</button> 
        </div>
      </div>
    </div>
  </form>
  <alert ng-repeat="(key,value) in error" type="'danger'">{{value}}</alert>
</div>
<div side-bar>
  <div ng-include="'side/side.html'"></div>
</div>