<div class="form-group" >
  <div class="col-md-6" ng-class="errorClass('name')" dl-input-text size="sm" id="name" value="player.name" caption="Nombre"></div>
  <div class="col-md-6" ng-class="errorClass('lastName')" dl-input-text size="sm" id="lastName" value="player.lastName" caption="Apellido"></div>
</div>
<div class="form-group" >
  <div class="col-md-6" ng-class="errorClass('alias')" dl-input-text size="sm" id="alias" value="player.alias" caption="Apodo"></div>
  <div class="col-md-6">
    <label class="checkbox">
      Titular
    </label>
    <input type="checkbox" ng-model="player.starting">
  </div>
</div>
<div class="form-group" >
  <div class="col-md-6">
    <label class="checkbox">
      Arquero
    </label>
    <input type="checkbox" ng-model="player.goalkeeper">
  </div>
</div>