<div main-content>
  <ul class="nav nav-pills">
    <li ng-class="{active:it._id == league._id}" ng-repeat="it in leagues">
      <a href="" ng-click="loadLeague(it)">{{it._id}}</a>
    </li>
  </ul>
  <hr/> 
  <div class="" ng-if="!league">
    <alert type="'danger'">Aun no ha creado ninguna liga</alert>
  </div>
  <div class="row" ng-if="league"> 
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active:!match}">
          <a href="" ng-click="loadMatch(null)">Resumen</a>
        </li>
        <li ng-class="{active:it._id == match._id}" ng-repeat="it in matches | orderBy:'-round'">
          <a href="" ng-click="loadMatch(it)">Fecha #{{it.round}}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-10" >
      <h4>{{league.name}}
      <a href="#/league/edit/{{league._id}}" secure>
        <span style="color: white;" class="glyphicon glyphicon-edit pull-right"></span>
      </a>
      </h4>
      <b>Desde: </b>{{league.startDate|date:'dd-MM-yyyy'}} 
      <span class="glyphicon glyphicon-flash"></span>
      <b>Hasta: </b>{{league.finishDate|date:'dd-MM-yyyy'}}
      <span class="glyphicon glyphicon-flash"></span>
      <b>Fechas: </b>{{matches.length}}
      <span class="glyphicon glyphicon-flash"></span>
      <b>Estado: </b>{{league.status|afdLeagueStatus}}
      <span class="dropdown">
        <a class="dropdown-toggle"><span class="glyphicon glyphicon-edit"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a ng-if="status.id != league.status" href="" ng-click="changeStatus(league,status)" ng-repeat="status in getStatus()">
              {{status.name}}
            </a>
          </li>
        </ul>
      </span>
      <div ng-if="league.status == 'RUNNING'" style="margin-top:1em">
        <a class="btn btn-primary btn-sm" href="#/match/new?league_id={{league._id}}&nextRound={{nextRound}}&nextDate={{nextDate}}" secure>
          <span class="glyphicon glyphicon-plus"></span> Programar un partido
        </a>
      </div>
      <hr/>
      <div ng-if="!match" league-resume league="league" matches="matches"></div>
      <!-- Match detail -->
      <div ng-if="match" match-detail="match" league="league"></div>
      <div ng-if="match" stats-player league="league._id" round="match.round"></div>
      <!-- <div ng-if="matches.length==0" >
        <alert type="'warning'">Esta liga no tiene ningun partido creado</alert>
      </div> -->
      <hr/>
      <comment owner="league"></comment>
      <br/>
      <a ng-if="league.status == 'RUNNING'" class="btn btn-primary btn-sm" href="#/match/new?league_id={{league._id}}&nextRound={{nextRound}}&nextDate={{nextDate}}" secure>
        <span class="glyphicon glyphicon-plus"></span> Programar un partido
      </a>
    </div>    
  </div>
  <hr/>
  <a class="btn btn-success btn-sm" href="#/league/new" secure>
    <span class="glyphicon glyphicon-plus"></span> Crear una Liga
  </a>
</div>

<div side-bar>
  <div ng-include="'side/side.html'"></div>
</div>
