<div main-content>
	<h2>Estadisticas por jugador</h2>
  <div class="btn-group">
      <button ng-repeat="it in leagues" type="button" class="btn btn-primary" ng-model="filter.league[it._id]" btn-checkbox>{{it.name}}</button>
  </div>

  <div class="well well-sm top1">
  	Sobre un total de {{stats.general.count}} partidos
  </div>

  <div style="margin-top: 1em;" stats-player leagues="selectedLeagues" stats="stats" config="config"></div>
</div>

<div side-bar>
  <div ng-include="'side/side.html'"></div>
</div>
